body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.line::after {
  content: "";
  position: absolute;
  width: 120%;
  height: 16px;
  transform: rotate(-5deg);
  border-bottom: solid 4px #9540ea;
  bottom: -8px;
  left: 0;
  border-radius: 50%;
}
